<div class="bg-black w-full">
	<mat-toolbar class="p-0 m-0 shadow-lg">
	  <div class="w-full flex items-center justify-between px-4 py-2 ml-64 mr-64">
		
		<div class="flex items-center space-x-2 text-white">
		  <button mat-icon-button (click)="toggle()">
			<mat-icon>menu</mat-icon>
		  </button>
		  <img [src]="logoSrc" alt="Logo" class="h-10">
		</div>
  
		
		<div class="hidden lg:flex space-x-4">
			<a *ngFor="let item of menuItems"
			   [routerLink]="item.route" 
			   [ngClass]="{'active-link': isActive(item.route), 'menu-item': !isActive(item.route)}" 
			   (click)="onSectionClick(item.route)"
			   class="hover:text-red-500 text-white font-medium uppercase tracking-wide">
			  {{ item.label }}
			</a>
		  </div>
  
		
		<div class="hidden lg:flex items-center space-x-2 text-white">
		  <div class="flex flex-col items-start">
			<p class="font-medium">Firenze</p>
			<p class="text-xs text-gray-400">Soleggiato, 18°C</p> 
		  </div>
		  <mat-icon class="text-2xl text-gray-400" >wb_sunny</mat-icon>
		</div>
  
		
		<div class="hidden lg:flex items-center space-x-2">
		  <button mat-button class="bg-red-600 text-white px-3 py-1 rounded-full hover:bg-red-700 shadow-md font-medium">
			Accedi
		  </button>
		</div>
	  </div>
	</mat-toolbar>
  </div>
  