<div class="bg-black w-full header-dynamic fixed z-50">
	<mat-toolbar class="p-0 m-0">
	  <div class="w-full flex items-center justify-between py-[1vh] px-[1vw] text-white ">
		
		<div class="w-[25vw] flex px-[1vw] min-w-[150px]">
		  <button mat-icon-button (click)="toggleSidenav()">
			<mat-icon>menu</mat-icon>
		  </button>
		  <div class="px-[4vh]">
			  <img [src]="logoSrc" alt="Logo" class=" h-[4vh] aspect-square min-h-8">
		  </div>
		</div>

		<div class="w-[50vw] items-center max-[1500px]:hidden">
			<a *ngFor="let item of menuItems"
			[routerLink]="['/home', item.route]"
			[ngClass]="{'active-link': isActive(item.route), 'menu-item': !isActive(item.route)}"
			class="text-WN font-medium uppercase tracking-wide">
		   {{ item.label }}
		 </a>
		</div>
  
		<div class="w-[25vw] flex space-x-1  justify-end">
			<app-weather-widget class="px-[1vw]"></app-weather-widget>
		  <button mat-button class="bg-red-600 text-WN  px-[0.5vw] py-[0.5vh] rounded-full hover:bg-red-700 shadow-md font-medium">
			Login
		  </button>
		</div>
  
	  </div>
	</mat-toolbar>
  </div>
  
  <mat-sidenav-container class="fixed sidenav-offset">
	<mat-sidenav #sidenav 
	  [opened]="sidenavOpen" 
	  (closedStart)="sidenavOpen = false"  
	  mode="over" 
	  class="sidenav-container">
	
	  <div class="sidenav-content">
		<h3 class="sidenav-heading">News</h3>
		<mat-nav-list class="custom-nav-list">
		  <a mat-list-item routerLink="/home/news" class="sidenav-link" style="padding: 5%;">
			<mat-icon>home</mat-icon>
			<span class="sidenav-link-text">Home</span>
		  </a>
		  <a mat-list-item routerLink="/home/economy" class="sidenav-link" style="padding: 5%;">
			<mat-icon>money</mat-icon>
			<span class="sidenav-link-text">Economy</span>
		  </a>
		  <a mat-list-item routerLink="/home/technology" class="sidenav-link" style="padding: 5%;">
			<mat-icon>gavel</mat-icon>
			<span class="sidenav-link-text">Technology</span>
		  </a>
		  <a mat-list-item routerLink="/home/sports" class="sidenav-link" style="padding: 5%;">
			<mat-icon>sports</mat-icon>
			<span class="sidenav-link-text">Sports</span>
		  </a>
		  <a mat-list-item routerLink="/home/entertainment" class="sidenav-link" style="padding: 5%;">
			<mat-icon>theater_comedy</mat-icon>
			<span class="sidenav-link-text">Entertainment</span>
		  </a>
		  <a mat-list-item routerLink="/home/science" class="sidenav-link" style="padding: 5%;">
			<mat-icon>science</mat-icon>
			<span class="sidenav-link-text">Science</span>
		  </a>
		  <a mat-list-item routerLink="/home/health" class="sidenav-link" style="padding: 5%;">
			<mat-icon>health_and_safety</mat-icon>
			<span class="sidenav-link-text">Health</span>
		  </a>
		</mat-nav-list>
	  </div>
	
	  <div class="sidenav-user">
		<h3 class="sidenav-heading">User</h3>
		<mat-nav-list class="custom-nav-list">
		  <a mat-list-item routerLink="/profile" class="sidenav-link" style="padding: 5%;">
			<mat-icon>person</mat-icon>
			<span class="sidenav-link-text">Profile</span>
		  </a>
		  <a mat-list-item (click)="logout()" class="sidenav-link" style="padding: 5%;">
			<mat-icon>logout</mat-icon>
			<span class="sidenav-link-text">Logout</span>
		  </a>
		</mat-nav-list>
	  </div>
	</mat-sidenav>
	
	<mat-sidenav-content [ngClass]="{'overlay-open': sidenavOpen, 'overlay': true}">
	  <router-outlet></router-outlet>
	</mat-sidenav-content>
  </mat-sidenav-container>
  
  