<div class="bg-black w-full header-dynamic fixed z-50">
	<mat-toolbar class="p-0 m-0">
	  <div class="w-full flex items-center justify-between py-[1vh] px-[1vw] text-white ">
		
		<div class="w-[25vw] flex px-[1vw] min-w-[150px]">
		  <button mat-icon-button (click)="toggleSidenav()">
			<mat-icon>menu</mat-icon>
		  </button>
		  <div class="px-[4vh]">
			  <img [src]="logoSrc" alt="Logo" class=" h-[4vh] aspect-square min-h-8">
		  </div>
		</div>

		<div class="w-[50vw] items-center max-[1500px]:hidden">
			<a *ngFor="let item of menuItems"
			[routerLink]="item.route"
			[ngClass]="{'active-link': isActive(item.route), 'menu-item': !isActive(item.route)}"
			class="text-WN font-medium uppercase tracking-wide">
		   {{ item.label }}
		 </a>
		</div>
  
		<div class="w-[25vw] flex space-x-1  justify-end">
			<app-weather-widget class="px-[1vw]"></app-weather-widget>
		  <button mat-button class="bg-red-600 text-WN  px-[0.5vw] py-[0.5vh] rounded-full hover:bg-red-700 shadow-md font-medium">
			Login
		  </button>
		</div>
  
	  </div>
	</mat-toolbar>
  </div>
  
  
  <mat-sidenav-container class="fixed sidenav-offset">
	<mat-sidenav #sidenav 
	[opened]="sidenavOpen" 
	(closedStart)="sidenavOpen = false"  
	mode="over" style="width: 15%; background-color: #ee3434; color: white; display: flex; flex-direction: column; height: auto; overflow:hidden">
	  <div class="px-[1vw]">
		<h3 class="text-lg font-bold text-white">News</h3>
		<mat-nav-list>
		  <a mat-list-item routerLink="/home" class="text-white sidenav-link"> 
			<mat-icon>home</mat-icon>
			<span class="text-white">Home</span>
		  </a>
		  <a mat-list-item routerLink="/economy" class="text-white sidenav-link">
			<mat-icon>money</mat-icon>
			<span class="text-white">Economy</span>
		  </a>
		  <a mat-list-item routerLink="/technology" class="text-white sidenav-link">
			<mat-icon>gavel</mat-icon>
			<span class="text-white">Technology</span>
		  </a>
		  <a mat-list-item routerLink="/sports" class="text-white sidenav-link">
			<mat-icon>sports</mat-icon>
			<span class="text-white">Sports</span>
		  </a>
		  <a mat-list-item routerLink="/entertainment" class="text-white sidenav-link">
			<mat-icon>theater_comedy</mat-icon>
			<span class="text-white">Entertainment</span>
		  </a>
		  <a mat-list-item routerLink="/science" class="text-white sidenav-link">
			<mat-icon>science</mat-icon>
			<span class="text-white">Science</span>
		  </a>
		  <a mat-list-item routerLink="/health" class="text-white sidenav-link">
			<mat-icon>health_and_safety</mat-icon>
			<span class="text-white">Health</span>
		  </a>
		</mat-nav-list>
	  </div>
  
	  <div class="px-4 py-2 border-t border-white mt-auto">
		<h3 class="text-lg font-bold">User</h3>
		<mat-nav-list>
		  <a mat-list-item routerLink="/profile" class=" sidenav-link">
			<mat-icon>person</mat-icon>
			<span>Profile</span>
		  </a>
		  <a mat-list-item (click)="logout()" class=" sidenav-link">
			<mat-icon>logout</mat-icon>
			<span>Logout</span>
		  </a>
		</mat-nav-list>
	  </div>
	</mat-sidenav>
  
	<mat-sidenav-content [ngClass]="{'overlay-open': sidenavOpen, 'overlay': true}">
	  <router-outlet></router-outlet>
	</mat-sidenav-content>
  </mat-sidenav-container>
  