<app-header (toggleSidenav)="toggle()"></app-header>

<mat-sidenav-container style="height: 100vh;"> 
  <mat-sidenav #sidenav mode="over" style="width: 250px; background-color: #ee3434; color: white; display: flex; flex-direction: column; height: 100%;">
    
    <div class="px-4 py-2 flex-grow">
      <h3 class="text-lg font-bold">Notizie</h3>
      <mat-nav-list>
        <a mat-list-item routerLink="/home" class="text-white"> 
          <mat-icon class="mr-2">home</mat-icon> Home
        </a>
        <a mat-list-item routerLink="/news" class="menu-item">
          <mat-icon class="mr-2">article</mat-icon> Notizie
        </a>
        <a mat-list-item routerLink="/economia" class="menu-item">
          <mat-icon class="mr-2">money</mat-icon> Economia
        </a>
        <a mat-list-item routerLink="/politica" class="menu-item">
          <mat-icon class="mr-2">gavel</mat-icon> Politica
        </a>
        <a mat-list-item routerLink="/sport" class="menu-item">
          <mat-icon class="mr-2">sports</mat-icon> Sport
        </a>
        <a mat-list-item routerLink="/intrattenimento" class="menu-item">
          <mat-icon class="mr-2">theater_comedy</mat-icon> Intrattenimento
        </a>
        <a mat-list-item routerLink="/scienza" class="menu-item">
          <mat-icon class="mr-2">science</mat-icon> Scienza
        </a>
        <a mat-list-item routerLink="/cultura" class="menu-item">
          <mat-icon class="mr-2">book</mat-icon> Cultura
        </a>
        <a mat-list-item routerLink="/salute" class="menu-item">
          <mat-icon class="mr-2">health_and_safety</mat-icon> Salute
        </a>
      </mat-nav-list>
    </div>
  
    
    <div class="px-4 py-2 border-t border-white mt-auto">
      <h3 class="text-lg font-bold">Utente</h3>
      <mat-nav-list>
        <a mat-list-item routerLink="/profile" class="menu-item">
          <mat-icon class="mr-2">person</mat-icon> Profilo
        </a>
        <a mat-list-item (click)="logout()" class="menu-item">
          <mat-icon class="mr-2">logout</mat-icon> Logout
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  
  
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
