<div class="flex items-center space-x-4 weather-text">

	<div class="flex flex-col items-start">
	  <p class="font-bold text-WB ">{{ cityName }}</p>
	  <p class="text-gray-400 text-WN">📅 {{ currentDate }}</p>
	</div>
  

	<div class="flex flex-col items-start">
	  <p class=" text-gray-400 text-WS">🌡️ Min: {{ temperatureMin }} / Max: {{ temperatureMax }}</p>
	  <p class=" text-gray-400 text-WS">💨 Wind: {{ windIntensity }}</p>
	  <p class=" text-gray-300 text-WS">🌤️ Conditions: {{ weatherDescription }}</p>
	</div>
  
	<mat-icon class="text-xl text-gray-300">{{ weatherIcon }}</mat-icon>
  </div>