<div class="bg-black w-full">
	<mat-toolbar class="p-0 m-0 shadow-lg custom-header">
	  <div class="w-full flex items-center justify-between px-4 py-2 ml-64 mr-64">
		<div class="flex items-center space-x-2 text-white">
		  <button mat-icon-button (click)="toggleSidenav()">
			<mat-icon>menu</mat-icon>
		  </button>
		  <img [src]="logoSrc" alt="Logo" class="h-10">
		</div>
  
		<div class="hidden lg:flex space-x-4">
		  <a *ngFor="let item of menuItems"
			 [routerLink]="item.route" 
			 [ngClass]="{'active-link': isActive(item.route), 'menu-item': !isActive(item.route)}" 
			 (click)="onSectionClick(item.route)"
			 class="hover:text-red-500 text-white font-medium uppercase tracking-wide">
			{{ item.label }}
		  </a>
		</div>
  
		<div class="hidden lg:flex items-center space-x-2 text-white">
		  <div class="flex flex-col items-start">
			<p class="font-medium">Florence</p>
			<p class="text-xs text-gray-400">Sunny, 18°C</p> 
		  </div>
		  <mat-icon class="text-2xl text-gray-400">wb_sunny</mat-icon>
		</div>
  
		<div class="hidden lg:flex items-center space-x-2">
		  <button mat-button class="bg-red-600 text-white px-3 py-1 rounded-full hover:bg-red-700 shadow-md font-medium">
			Login
		  </button>
		</div>
	  </div>
	</mat-toolbar>
  </div>
  

  
  <mat-sidenav-container class="h-screen">
	<mat-sidenav #sidenav [opened]="sidenavOpen" (closedStart)="sidenavOpen = false"  mode="over" style="width: 250px; background-color: #ee3434; color: white; display: flex; flex-direction: column; height: 100%;">
	  <div class="px-4 py-2 flex-grow">
		<h3 class="text-lg font-bold text-white">News</h3>
		<mat-nav-list>
		  <a mat-list-item routerLink="/home" class="text-white sidenav-link"> 
			<mat-icon class="mr-2 text-white">home</mat-icon>
			<span class="text-white">Home</span>
		  </a>
		  <a mat-list-item routerLink="/economy" class="text-white sidenav-link">
			<mat-icon class="mr-2 text-white">money</mat-icon>
			<span class="text-white">Economy</span>
		  </a>
		  <a mat-list-item routerLink="/politics" class="text-white sidenav-link">
			<mat-icon class="mr-2 text-white">gavel</mat-icon>
			<span class="text-white">Politics</span>
		  </a>
		  <a mat-list-item routerLink="/sports" class="text-white sidenav-link">
			<mat-icon class="mr-2 text-white">sports</mat-icon>
			<span class="text-white">Sports</span>
		  </a>
		  <a mat-list-item routerLink="/entertainment" class="text-white sidenav-link">
			<mat-icon class="mr-2 text-white">theater_comedy</mat-icon>
			<span class="text-white">Entertainment</span>
		  </a>
		  <a mat-list-item routerLink="/science" class="text-white sidenav-link">
			<mat-icon class="mr-2 text-white">science</mat-icon>
			<span class="text-white">Science</span>
		  </a>
		  <a mat-list-item routerLink="/culture" class="text-white sidenav-link">
			<mat-icon class="mr-2 text-white">book</mat-icon>
			<span class="text-white">Culture</span>
		  </a>
		  <a mat-list-item routerLink="/health" class="text-white sidenav-link">
			<mat-icon class="mr-2 text-white">health_and_safety</mat-icon>
			<span class="text-white">Health</span>
		  </a>
		</mat-nav-list>
	  </div>
  
	  <div class="px-4 py-2 border-t border-white mt-auto">
		<h3 class="text-lg font-bold text-white">User</h3>
		<mat-nav-list>
		  <a mat-list-item routerLink="/profile" class="text-white sidenav-link">
			<mat-icon class="mr-2 text-white">person</mat-icon>
			<span class="text-white">Profile</span>
		  </a>
		  <a mat-list-item (click)="logout()" class="text-white sidenav-link">
			<mat-icon class="mr-2 text-white">logout</mat-icon>
			<span class="text-white">Logout</span>
		  </a>
		</mat-nav-list>
	  </div>
	</mat-sidenav>
  
	<mat-sidenav-content [ngClass]="{'overlay-open': sidenavOpen, 'overlay': true}">
	  <router-outlet></router-outlet>
	</mat-sidenav-content>
  </mat-sidenav-container>
  