@use '@angular/material' as mat;
@include mat.core();


/* Importa Tailwind CSS */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Global styles */
html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

